@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Fira+Code:wght@300;400;500&family=Grand+Hotel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  max-width: 927px;
  margin: 0 auto;
  /* border: 2px solid black; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding-top: 2rem;
  font-family: "Poppins", sans-serif;
  padding-bottom: 2rem;
  text-align: center;
  /* border-bottom: 3px solid whitesmoke; */
}
.container h1 {
  text-transform: uppercase;
  /* border-bottom: 3px solid whitesmoke; */
}
a {
  text-decoration: none;
  color: black;
  margin-left: 1.2rem;
}
.github {
  width: 25px;
  margin-bottom: -7px;
  margin-left: 1rem;

  /* padding: 2rem; */
}
/* Section */
.main-section {
  max-width: 1220px;
  margin: 0 auto;
}
.main-section h4 {
  border-bottom: 1px solid rgb(150, 147, 147);
}
section {
  padding: 1rem 1rem 1rem 0;
  /* padding-bottom: 1rem; */
  /* margin-top: 1rem; */
}
.section-center {
  display: flex;
}
.tech-skills {
  display: flex;
  gap: 1rem;
  /* justify-content: space-around; */
}
